In [ ]:
import os
import cv2
import pandas as pd

In [ ]:
emo_classes = {'happy' : 0, 'surprise' : 1, 'sadness' : 2, 'anger' : 3, 'disgust' : 4, 'fear' : 5, 'contempt' : 6}
train_src = "/content/drive/MyDrive/CK+/train/"
val_src = "/content/drive/MyDrive/CK+/val/"
test_src = "/content/drive/MyDrive/CK+/test/"

In [ ]:
columns = ["Emotion", "Pixels", "Usage"]
df = pd.DataFrame(columns=columns)

In [ ]:
for emotion, number in emo_classes.items():
    new_train_src = os.path.join(train_src, emotion)
    for img in os.listdir(new_train_src):
        src = os.path.join(new_train_src, img)
        img = cv2.imread(src)
        gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
        s = []
        for list1 in img:
            for list2 in list1:
                res = int(list2[0])*0.07 + int(list2[1])*0.72 + int(list2[0])*0.21
                s.append(res)
        res = ""
        for i in range(len(s)):
            t = int(s[i])
            res += str(t) + " "
        res = res[:-1]
        df.loc[len(df.index)] = [emo_classes[emotion], res, "Training"]
    print(f"{emotion} in Training completed.")
    print(df.shape)

happy in Training completed.
(167, 3)
surprise in Training completed.
(368, 3)
sadness in Training completed.
(436, 3)
anger in Training completed.
(555, 3)
disgust in Training completed.
(698, 3)
fear in Training completed.
(759, 3)
contempt in Training completed.
(793, 3)

In [ ]:
for emotion, number in emo_classes.items():
    new_val_src = os.path.join(val_src, emotion)
    for img in os.listdir(new_val_src):
        src = os.path.join(new_val_src, img)
        img = cv2.imread(src)
        gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
        s = []
        for list1 in img:
            for list2 in list1:
                res = int(list2[0])*0.07 + int(list2[1])*0.72 + int(list2[0])*0.21
                s.append(res)
        res = ""
        for i in range(len(s)):
            t = int(s[i])
            res += str(t) + " "
        res = res[:-1]
        df.loc[len(df.index)] = [emo_classes[emotion], res, "PublicTest"]
    print(f"{emotion} in Validation completed.")
    print(df.shape)

happy in Validation completed.
(813, 3)
surprise in Validation completed.
(813, 3)
sadness in Validation completed.
(821, 3)
anger in Validation completed.
(829, 3)
disgust in Validation completed.
(846, 3)
fear in Validation completed.
(853, 3)
contempt in Validation completed.
(863, 3)

In [ ]:
for emotion, number in emo_classes.items():
    new_test_src = os.path.join(test_src, emotion)
    for img in os.listdir(new_test_src):
        src = os.path.join(new_test_src, img)
        img = cv2.imread(src)
        gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
        s = []
        for list1 in img:
            for list2 in list1:
                res = int(list2[0])*0.07 + int(list2[1])*0.72 + int(list2[0])*0.21
                s.append(res)
        res = ""
        for i in range(len(s)):
            t = int(s[i])
            res += str(t) + " "
        res = res[:-1]
        df.loc[len(df.index)] = [emo_classes[emotion], res, "PrivateTest"]
    print(f"{emotion} in Testing completed.")
    print(df.shape)

happy in Testing completed.
(883, 3)
surprise in Testing completed.
(931, 3)
sadness in Testing completed.
(939, 3)
anger in Testing completed.
(947, 3)
disgust in Testing completed.
(964, 3)
fear in Testing completed.
(971, 3)
contempt in Testing completed.
(981, 3)

In [ ]:
df.head()

  Emotion                                             Pixels     Usage
0       0  86 86 83 49 13 1 27 108 128 132 144 152 161 17...  Training
1       0  84 86 88 68 24 6 2 69 123 127 138 153 157 169 ...  Training
2       0  86 86 88 69 27 7 4 64 123 127 138 153 156 171 ...  Training
3       0  87 68 45 35 33 33 44 77 110 110 104 143 165 18...  Training
4       0  91 77 49 38 33 32 39 71 104 116 99 138 163 183...  Training

In [ ]:
df.to_csv("CK+.csv", index = False)